.fighter-preview___root {
  position: relative;
  display: flex;
  flex-direction: column;
  flex-basis: 250px;
}

.fighter-preview___right {
  align-items: flex-end;
}

.fighter-preview___left {
  align-items: flex-start;
}

.fighter-preview___details {
  position: absolute;
  top: 50%;
  left: -40%;
  width: fit-content;
  font-family: sans-serif;
  color: white;
  font-size: 18px;
}

.fighter-preview___right .fighter-preview___details {
  left: 100%;
}
